﻿
@model Destination
@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1>Destination Edit</h1>
        </div>
        <div class="col-md-8">
            <form method="post" asp-action="edit" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="Name">Name</label>
                    <input asp-for="Name" class="form-control">
                    <span class="text-danger" asp-validation-for="Name"></span>
                </div>
               
                <div class="form-group">
                    <label asp-for="ImageFile">ImageFile</label>
                    <input asp-for="ImageFile" class="form-control">
                    <span class="text-danger" asp-validation-for="ImageFile"></span>
                    <input type="hidden" value="@Model.ImageName" name="ImageName" />
                    <img width="250" src="~/manage/assets/uploads/destination/@Model.ImageName" />
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>