

@model List<AdminUserViewModel>

@{
    ViewData["Title"] = "Admin";
   

}

<div class="container">
    <div class="row justify-content-center">

        <div class="col-md-8">
            <h1>Admins</h1> <a class="btn btn-info" asp-action="create">Create</a>
        </div>
        <div class="col-md-8">
            <table class="table table-info table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Id</th>
                        <th scope="col">FullName</th>
                        <th scope="col">UserName</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                       
                        <tr>
                            <td></td>
                            <td>@item.UserId</td>
                            <td>@item.FullName</td>
                            <td>@item.UserName</td>
                            
                            <td>
                                
                                <a asp-action="delete" asp-route-id="@item.UserId" class="btn btn-danger delete-btn">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            
        </div>
    </div>
</div>