@using Final_Project_Travel.ViewModels;
 @model MemberLoginViewModel


<!-- Main section start -->


<div class="container ">
    <h1 class="title">Login</h1>
    <div class="card m-auto mb-5">
        <form method="post">
           <div class="single-input-item">
                                        <label asp-for="UserName">UserName</label>
                                        <input asp-for="UserName" class="form-control" />
                                        <span class="text-danger" asp-validation-for="UserName"></span>
                                    </div>
            <div class="single-input-item">
                                        <label asp-for="Password">Password</label>
                                        <input asp-for="Password" class="form-control" />
                                        <span class="text-danger" asp-validation-for="Password"></span>
                                    </div>
            <div class="single-input-item">
                <a asp-action="forgotpassword" asp-controller="account">Forgot password</a>
                <br />
                <span style="color:orange">@TempData["Message"]</span>
                </div>
            <div class="text danger" asp-validation-summary="ModelOnly"></div>
            <div class="buttons">
                <a asp-action="register" class="register-link">Register</a>
                <button type="submit" class="login-button">Login</button>
            </div>
        </form>
    </div>
</div>


<!-- main section end -->