@using Final_Project_Travel.ViewModels;
@model MemberRegisterViewModel


<!-- Main section start -->


<div class="container">
    <h1 class="title">Register</h1>
    <div class="card m-auto mb-5">
        <form asp-controller="account" asp-action="register" method="post">
            <div class="single-input-item">
                <label asp-for="UserName">UserName</label>
                <input style="color:grey" asp-for="UserName" class="form-control" />
                <span class="text-danger" asp-validation-for="UserName"></span>
            </div>
           <div class="single-input-item">
                                        <label asp-for="FullName" >FullName</label>
                <input style="color:grey" asp-for="FullName" class="form-control    />
                                        <span class="text-danger" asp-validation-for="FullName"></span>
                                    </div>
         <div class="single-input-item">
                                        <label asp-for="Email">Email</label>
                <input style="color:grey" asp-for="Email" class="form-control" />
                                        <span class="text-danger" asp-validation-for="Email"></span>
                                    </div>
           <div class="single-input-item">
                                        <label asp-for="Phone">Phone</label>
                <input style="color:grey" asp-for="Phone" class="form-control" />
                                        <span class="text-danger" asp-validation-for="Phone"></span>
                                    </div>
                                            <div class="single-input-item">
                                            <label asp-for="Password">Password</label>
                <input style="color:grey" asp-for="Password" class="form-control" />
                                            <span class="text-danger" asp-validation-for="Password"></span>
                                        </div>

           <div class="single-input-item">
                                            <label asp-for="ConfirmPassword">ConfirmPassword</label>
                <input style="color:grey" asp-for="ConfirmPassword" class="form-control" />
                                            <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                                        </div>
            <div class="text-danger" asp-validation-summary="ModelOnly"> </div>
            <div class="buttons">
                <a href="#" class="register-link">Forget Password?</a>
                <button type="submit" class="login-button">Register</button>
            </div>
        </form>
    </div>
</div>

<!-- main section end -->