

  /* //////// */

.team{
    margin-top: 50px;
}

      
      .team h2 em {
        font-style: normal;
        color: #DBA337;
}

  .team img{
    height: 200px;
    width:100%;
  }
  

   .team .item-card{
    transition:0.5s;
    cursor:pointer;
  }
   .team .item-card-title{  
    font-size:15px;
    transition:1s;
    cursor:pointer;
  }
   .team .item-card-title i{  
    font-size:15px;
    transition:1s;
    cursor:pointer;
    color:#ffa710
  }
  .team .card-title i:hover{
    transform: scale(1.25) rotate(100deg); 
    color:#DBA337;
    
  }
  .team .card:hover{
    transform: scale(1.05);
    box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
  }
 
  
  .team .card::before, .card::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale3d(0, 0, 1);
    transition: transform .3s ease-out 0s;
    background: rgba(255, 255, 255, 0.1);
    content: '';
    pointer-events: none;
  }
  .team .card::before {
    transform-origin: left top;
  }
  .team .card::after {
    transform-origin: right bottom;
  }
  .team .card:hover::before, .card:hover::after, .card:focus::before, .card:focus::after {
    transform: scale3d(1, 1, 1);
  }


  .who-we-are .item-card-title{
        font-size:15px;
        transition:1s;
        text-align: center;
      }
      .who-we-are .item-card-title i{  
        font-size:15px;
        transition:1s;
        cursor:pointer;
        color:#ffa710
      }
      .who-we-are .card-title i:hover{
        transform: scale(1.25) rotate(100deg); 
        color:#DBA337;
  }


  /*** Hero Header ***/
.hero-header {
    background: linear-gradient(rgba(20, 20, 31, .7), rgba(20, 20, 31, .7)), url(../image/azerbaijan.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}


