/*** Hero Header ***/
.hero-header {
    background: linear-gradient(rgba(20, 20, 31, .7), rgba(20, 20, 31, .7)), url(../image/azerbaijan.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.breadcrumb-item + .breadcrumb-item::before {
    color: rgba(255, 255, 255, .5);
}




.destination{
    margin-top: 50px;
}

      
      .destination h2 em {
        font-style: normal;
        color: #DBA337;
}

  .destination img{
    height: 200px;
    width:100%;
  }
  
   .destination .item{
    padding-left:5px;
    padding-right:5px;
  }
   .destination .item-card{
    transition:0.5s;
    cursor:pointer;
    position: relative;
  }
   .destination .item-card-title{  
    font-size:15px;
    transition:1s;
    cursor:pointer;
  }
   .destination .item-card-title i{  
    font-size:15px;
    transition:1s;
    cursor:pointer;
    color:#ffa710
  }
  .destination .card-title i:hover{
    transform: scale(1.25) rotate(100deg); 
    color:#18d4ca;
    
  }
  .destination .card:hover{
    transform: scale(1.05);
    box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
  }
 
  
  .destination .card::before, .card::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale3d(0, 0, 1);
    transition: transform .3s ease-out 0s;
    background: rgba(255, 255, 255, 0.1);
    content: '';
    pointer-events: none;
  }
  .destination .card::before {
    transform-origin: left top;
  }
  .destination .card::after {
    transform-origin: right bottom;
  }
  .destination .card:hover::before, .card:hover::after, .card:focus::before, .card:focus::after {
    transform: scale3d(1, 1, 1);
  }

  .dest-count{
    position: absolute;
    z-index: 11;
    color:white;
    font-weight: 700;
    margin-left: 70%;
    margin-top:50% ;
  }
