﻿
@model TourReview


<form asp-action="review" asp-controller="tour" method="post" id="reviewForm" class="review-form">
      <div class="form-group row">
        <div class="col">
            <label class="col-form-label"><span class="text-danger">*</span> Rating</label>
          
        <input type="radio"name="rate" form="reviewForm" value="1" id ="star1">
         <label  for="star1"></label>
        <input type="radio" name="rate" form="reviewForm" value="2" id="star2">
            <label for="star2"></label>
        <input type="radio" name="rate" form="reviewForm" value="3" id="star3">
            <label for="star3"></label>
        <input type="radio" name="rate" form="reviewForm"  value="4"id="star4">
            <label for="star4"></label>
        <input type="radio" name="rate" form="reviewForm" value="5" id="star5"
        <label for="star5"></label>
        </div>
    
    </div>
    
    <div class="form-group row">
        <div class="col">
            <label asp-for = "Text"> Your Review</label>
            <textarea asp-for="Text" class="form-control"></textarea>
           
        </div>
    </div>
  <input  type="hidden" name="tourId" value="@Model.TourId"/>
    <div class="buttons">
        <button class="sqr-btn" type="submit">Continue</button>
    </div>
</form>