@using Final_Project_Travel.ViewModels;

@model WishlistViewModel


<div class="minicart-inner-content">
    <div class="minicart-close">
        <i class="fa fa-close"></i>
    </div>
    <div class="minicart-content-box">
        <div class="minicart-item-wrapper">
            <ul>
              @foreach (var item in Model.Items)
                {
                    <li class="minicart-item">
                    <div class="minicart-thumb">
                        <a href="product-details.html">
                                <img style="width: 100%;" src="~/manage/assets/uploads/tours/@item.Tour.TourImages.FirstOrDefault(x=>x.PosterStatus==true).ImageName"
                                 alt="product" />
                        </a>
                    </div>
                    <div class="minicart-content">
                        <h3 class="product-name">
                            <a href="product-details.html">@item.Tour.Name</a>
                        </h3>
                        <p>
                            <span class="cart-price">@item.Tour.DiscountPrice <del>@item.Tour.SalePrice</del></span>
                        </p>
                    </div>

                    <div class="icon-wishlist"></div>
                </li>
                }

            </ul>
        </div>


        <div class="minicart-button">
            <a href="cart.html"><i class="fa fa-heart"></i>View Wishlist</a>

        </div>
    </div>
</div>