@model Slider
@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1>Slider Edit</h1>
        </div>
        <div class="col-md-8">
            <form method="post" asp-action="edit" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="Title">Title1</label>
                    <input asp-for="Title" class="form-control">
                    <span class="text-danger" asp-validation-for="Title"></span>
                </div>
               
                <div class="form-group">
                    <label asp-for="Order">Order</label>
                    <input asp-for="Order" class="form-control">
                    <span class="text-danger" asp-validation-for="Order"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ButtonText">BtnText</label>
                    <input asp-for="ButtonText" class="form-control">
                    <span class="text-danger" asp-validation-for="ButtonText"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ButtonUrl">BtnUrl</label>
                    <input asp-for="ButtonUrl" class="form-control">
                    <span class="text-danger" asp-validation-for="ButtonUrl"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Desc">Desc</label>
                    <textarea asp-for="Desc" class="form-control"></textarea>
                    <span class="text-danger" asp-validation-for="Desc"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImageFile">ImageFile</label>
                    <input asp-for="ImageFile" class="form-control">
                    <span class="text-danger" asp-validation-for="ImageFile"></span>
                    <input type="hidden" value="@Model.ImageName" name="ImageName" />
                    <img width="250" src="~/manage/assets/uploads/slider/@Model.ImageName" />
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>